.sconsign.dblite
process_def*
process_obj
process_src
proclib
openloops.cfg
*.pyc
__pycache__
lib
lib_src/collier/mod
lib_src/collier/obj
lib_src/cuttools/mod
lib_src/cuttools/obj
lib_src/olcommon/mod
lib_src/olcommon/obj
lib_src/oneloop/mod
lib_src/oneloop/obj
lib_src/openloops/mod
lib_src/openloops/obj
lib_src/qcdloop/obj
lib_src/qcdloop/mod
lib_src/rambo/mod
lib_src/rambo/obj
lib_src/trred/mod
lib_src/trred/obj
log
